.layout-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

div {
  border: 5px solid cadetblue;
}

.layout-header {
  display: grid;
  place-items: center;
}

.layout-content {
  display: grid;
  place-items: center;
}

.quizes-content {
  display: grid;
  place-items: center;
}

.quiz-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.quiz-actions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}